@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v34-latin_cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/open-sans-v34-latin_cyrillic-regular.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/open-sans-v34-latin_cyrillic-600.woff2') format('woff2'), 
         url('../fonts/open-sans-v34-latin_cyrillic-600.woff') format('woff'); 
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v34-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/open-sans-v34-latin_cyrillic-700.woff') format('woff'); 
  }
 
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v34-latin_cyrillic-italic.woff2') format('woff2'), 
         url('../fonts/open-sans-v34-latin_cyrillic-italic.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local(''),
         url('../fonts/open-sans-v34-latin_cyrillic-800italic.woff2') format('woff2'), 
         url('../fonts/open-sans-v34-latin_cyrillic-800italic.woff') format('woff'); 
  }

  /* Page */
  .page {
      font-family: 'Open Sans'; 
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
  }

  .page__inner {
    display: block;
    width: 100%; 
  }

  .page__inner_intro {
    padding-top: 29px;
  }

  .page__inner_grey {
    background-color: #F6F2F2;
  }

  .page__inner_section {
    padding: 102px 0 110px;
  }

  .page__header {
    margin: 0 auto;
  }

   /*Header*/
  .header {
    display: flex;
    justify-content: center;
    width: 1249px;
    min-height: 89px;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
  }

  .site-menu {
    margin-left: -30px;
  }
  
  .site-menu__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .site-menu__item {
    display: flex;
    min-height: 89px;
  }

  .site-menu__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-family: 'Open Sans'; 
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #E0E0E0;
  }

  .site-menu__link:hover {
    background-color: #FF3F40 ;
  }

  .site-menu__link_active {
    background-color: #FF3F40 ;
  }

  /* Main */
  /* Intro */
  .intro {
    display: flex;
    width: 1249px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .inrto__info {
    max-width: 595px;
  }

  .intro__heading {
    font-family: 'Open Sans';
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 19px;
    margin-top: -15px;
  }

  .intro__text {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 58px;
  }

  .action-link {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    padding: 0.5em 1em;
    min-height: 55px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;    
    border-radius: 5px;
    text-decoration: none;
  }

  .action-link_red-full {
    color: #fff;
    background-color: #FF2D2D;
  }

  .action-link_red-transp {
    color: #FF2D2D;
    background-color: rgba(0,0,0,0.0001);
    border: 2px solid #FF2D2D;
  }

  .intro__video {
    width: 551px;
    height: 356px;
    object-fit: cover;
    box-shadow: -2.2px -13.8px 73px rgba(0,0,0,0.29) ;
  }

  /* Services */
  .services {
    display: flex;
    width: 1249px;
    margin: 0 auto;
    padding: 107px 0 90px;
    border-bottom: 2px solid #ECECEC;
    justify-content: space-between;
  }

  .services__info {
    width: 539px;
  }

  .services__heading {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Open Sans';
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0.422159px;
    text-transform: uppercase;
  }

  .services__about {
    margin: 0;
    margin-bottom: 64px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  .services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 13px;
    width: 610px;
  }

  .services__item {
    width: 285px;
    margin-bottom: 53px;
  }

  .services__item_icon_apple::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url('../img/apple.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
  }

  .services__item_icon_andr::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url('../img/android.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
  }

  .services__item_icon_old::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url('../img/old.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
  }

  .services__item_icon_tablet::before {
    content: '';
    display: block;
    width: 41px;
    height: 41px;
    background-image: url('../img/tablet.svg');
    background-repeat: no-repeat;
    margin-bottom: 33px;
  }
  
  .services__title {
    margin: 0;
    margin-bottom: 13px;
    font-family: 'Open Sans';
    font-size: 24.0692px;
    font-weight: 600;
    line-height: 1.2;
  }

  .services__text {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 28px;
  }

  /* Feature */
  .feature {
    width: 1249px;
    margin: 0 auto;
    padding: 105px 0 65px;
  }

  .feature__header {
    margin-bottom: 88px;
  }

  .feature__heading {
    margin: 0;
    margin-bottom: 28.5px;
    font-family: 'Open Sans';
    font-size: 41.9876px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color:  #000000;
    text-align: center;
  }

  .feature__about {
    width: 537px;
    margin: 0 auto;
    margin-bottom: 34.5px;
    font-family: 'Open Sans';
    font-size: 15.9953px;
    line-height: 28px;
    text-align: center;
  }

  .feature__line {
    width: 130px;
    height: 2px;
    margin: 0 auto;
    background-color: rgba(255, 45, 45, 1);
    border: none;
  }

  .filter {
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
  }

  .filter__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
  }

  .filter__link {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
  }

  .filter__link_active {
    color: #FF2D2D;
  }

  .filter__link:hover {
    color: #FF2D2D;
  }

  .feature__products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .feature__product {
    width: 297px;
    object-fit: cover;
    object-position: 0% 50%;
  }